node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
.openzeppelin/unknown-31337.json

#Text files
*.txt

#Script output files
scripts/output/*.json

#Yarn log files
*.log